<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Save Employee</title>
</head>
<body>
<div class="container">

    <h3 style="font-weight : bold">Employee Directory</h3>
    <hr style="border-top :2px solid black">
    <p class="h4 mb-4">Save employee</p>

    <form action="#" th:action="@{/employees/save}"
          th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First Name">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name">
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
        <input type="text" th:field="*{comments}" class="form-control mb-4 col-4" placeholder="Comments">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/employees/list}">Back to Employees List</a>


</div>
</body>
</html>